html,body{
    margin: 0;
    padding: 0;
    background-color:#3B8CF0;
    height: 15000px;
}
#part1{
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
#header{
    position: absolute;
    top: 20vh;
    left: 0;
    z-index: 20;
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vh;
    font-weight: bold;
    color: white;
    z-index: 24;
}

#logo{
    position: absolute;
    text-align: center;
    width: 40vw;
    z-index: 25;
}

#logobg{
    height: auto;
    width: 100vw;
    position: absolute;
    opacity: 0.4;
    max-width: 260vw;
    min-width: 100vw;
    z-index: 19;
}

#mouse{
    top: 90vh;
    position: absolute;
    text-align: center;
    z-index: 24;
}

#content01{
    width: 60vw;
    position: absolute;
    top: 70vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    z-index: 24;
}

#content02{
    width: 30vw;
    position: absolute;
    top: 110vh;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 19;
}
#content03{
    width: 30vw;
    position: absolute;
    top: 110vh;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    opacity: 01;
    color: white;
    z-index: 19;
}
#content04{
    width: 30vw;
    position: absolute;
    top: 110vh;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 19;
}
#content05{
    width: 30vw;
    position: absolute;
    top: 110vh;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 19;
}

#content06{
    width: 30vw;
    position: absolute;
    top: 110vh;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 19;
}

#pic02{
    position: absolute;
    text-align: center;
    z-index: 11;
    opacity: 0;
    width: 100vw;
}
#pic03{
    position: absolute;
    text-align: center;
    z-index: 12;
    opacity: 0;
    width: 100vw;
}
#pic04{
    position: absolute;
    text-align: center;
    z-index: 13;
    opacity: 0;
    width: 100vw;
}
#pic05{
    position: absolute;
    text-align: center;
    z-index: 14;
    opacity: 0;
    width: 100vw;
}
#pic06{
    position: absolute;
    text-align: center;
    z-index: 15;
    opacity: 0;
    width: 100vw;
}

#yellowbg{
    position: absolute;
    right: -5vw;
    top: -5vh;
    transform-origin: center;
    width: 5rem;
    height: 5rem;
    background: #F0E55D;
    position: fixed;
    border-radius: 50%;
    opacity: 1;
    z-index: 26;
}

#question{
    position: absolute;
    top: 60vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.3vw;
    line-height: 0.6em;
    color: #3B8CF0;
    z-index: 28;
    opacity: 0;
}

#eye{
    position: absolute;
    text-align: center;
    top:130vh;
    z-index: 27;
    opacity: 1;
    width: 40vw;
}

#bluebg{
    position: absolute;
    right: -5vw;
    top: -5vh;
    transform-origin: center;
    width: 5rem;
    height: 5rem;
    background: #F0E55D;
    position: fixed;
    border-radius: 50%;
    opacity: 1;
    z-index: 26;
}

#anser{
    width: 30vw;
    position: absolute;
    top: 110vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    opacity: 0;
    color: white;
    z-index: 35;
}

#k2{
    position: absolute;
    top:40vh;
    left: 20vw;
    z-index: 30;
    opacity: 0;
}
#k3{
    position: absolute;
    top:30vh;
    left: 75vw;
    z-index: 31;
    opacity: 0;
}
#k4{
    position: absolute;
    top:70vh;
    left: 80vw;
    z-index: 33;
    opacity: 0;
}
#k5{
    position: absolute;
    top:55vh;
    left: 70vw;
    z-index: 32;
    opacity: 0;
}
#k6{
    position: absolute;
    top:70vh;
    left: 10vw;
    z-index: 34;
    opacity: 0;
}
#k7{
    position: absolute;
    top:80vh;
    left: 25vw;
    z-index: 36;
    opacity: 0;
}
#k8{
    position: absolute;
    top:30vh;
    left: 10vw;
    z-index: 37;
    opacity: 0;
}
#k9{
    position: absolute;
    top:60vh;
    left: 60vw;
    z-index: 38;
    opacity: 0;
}

#worry{
    position: absolute;
    top:20vh;
    left: 105vw;
    z-index: 39;
    opacity: 1;
}


#habit{
    width: 31vw;
    position: absolute;
    top: 60vh;
    left:105vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    z-index: 40;
}

#p1{
    position: absolute;
    top:18vh;
    left: 105vw;
    height: 65vh;
    z-index: 41;
}

#p2{
    position: absolute;
    top:20vh;
    left: 105vw;
    height: 60vh;
    z-index: 41;
}
#p3{
    position: absolute;
    top:24vh;
    left: 105vw;
    height: 57vh;
    z-index: 41;
}
#p4{
    position: absolute;
    top:17vh;
    left: 105vw;
    height: 75vh;
    z-index: 41;
}

#cp1{
    width: 30vw;
    position: absolute;
    top: 105vh;
    left:60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 42;
}

#cp2{
    width: 30vw;
    position: absolute;
    top: 105vh;
    left:60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 42;
}

#cp3{
    width: 30vw;
    position: absolute;
    top: 105vh;
    left:60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 42;
}

#cp4{
    width: 30vw;
    position: absolute;
    top: 105vh;
    left:60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    opacity: 1;
    color: white;
    z-index: 42;
}


#balance{
    text-transform:uppercase;
    width: 31vw;
    position: absolute;
    top: 72vh;
    left:106vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color: white;
    z-index: 42;
}

#end{
    position: absolute;
    top:15vh;
    left: 106vw;
    z-index: 42;
}